# 02 Pandas数据结构

1.Series

2.DataFrame

3.从DataFrame查询Series

In [2]:
import pandas as pd
import numpy as np

# 1.Series
这是一种类似于一位数组对象，由不同数据类型和一组相关的数据索引组成

1.1 仅有数据列表产生简单的Series

In [3]:
s1 = pd.Series([1,'ab',5,9,'ss'])

In [4]:
# 左侧索引 右侧数据
s1

0     1
1    ab
2     5
3     9
4    ss
dtype: object

In [5]:
# 获取索引
s1.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
# 获取数据
s1.values

array([1, 'ab', 5, 9, 'ss'], dtype=object)

In [14]:
# 获取指定索引数据
s1[1]

'ab'

1.2 创建一个具有索引标签的Series

In [8]:
s2 = pd.Series([1,'a',8.5,9],index=['a','b','c','d'])

In [9]:
s2

a      1
b      a
c    8.5
d      9
dtype: object

In [10]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [16]:
# 获取指定索引数据
s2[['b','d']]

b    a
d    9
dtype: object

1.3 使用python字典创建Series

In [11]:
sdata = {'Ohio':3500,'Texas':72000,'Utah':5000}

In [3]:
s3 = pd.Series({'Ohio':3500,'Texas':72000,'Utah':5000})
s3

Ohio      3500
Texas    72000
Utah      5000
dtype: int64

In [13]:
s3

Ohio      3500
Texas    72000
Utah      5000
dtype: int64

# 2.DataFrame

DataFrame相当于一个数据表格，类似于Excel一样

每一列可以是不同的数据类型

有行的索引

同时也可以被看做由Series组成的字典

常见的DataFrame有txt、excel、mysql等

data={
        'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]
    }
df = pd.DataFrame(data)

In [18]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [21]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [22]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [23]:
df.index

RangeIndex(start=0, stop=5, step=1)

# 从DataFrame查询Series

如果只查询一行、一列，返回的是pd.Series

如果查询多行、多列，返回的是pd.DataFrame

In [24]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [25]:
df['year']  # 查询一列，结果是pd.Series

0    2000
1    2001
2    2002
3    2001
4    2002
Name: year, dtype: int64

In [26]:
type(df['year'])

pandas.core.series.Series

In [27]:
df[['year','pop']] #查询多列，结果是一个DataFrame

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9

In [29]:
type(df[['year','pop']])

pandas.core.frame.DataFrame

In [30]:
df.loc[1]  # 查询一行，结果是pd.Seroes

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [31]:
type(df.loc[1])

pandas.core.series.Series

In [38]:
df.loc[1:2]  # 查询多行又是DataFrom

  state  year  pop
1  Ohio  2001  1.7
2  Ohio  2002  3.6

In [39]:
type(df.loc[1:5])

pandas.core.frame.DataFrame