## Pandas的axis参数怎么理解？

* axis=0或者"index"：  
  - 如果是单行操作，就指的是某一行
  - 如果是聚合操作，指的是跨行cross rows
* axis=1或者"columns"：
  - 如果是单列操作，就指的是某一列
  - 如果是聚合操作，指的是跨列cross columns
  
***按哪个axis，就是这个axis要动起来(类似被for遍历)，其它的axis保持不动***

In [3]:
import pandas as pd
import numpy as np

In [21]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=['A', 'B', 'C', 'D']
)

In [5]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

### 1、单列drop，就是删除某一列

In [6]:
# 代表的就是删除某列
df.drop("A", axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

### 2、单行drop，就是删除某一行

In [7]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [8]:
# 代表的就是删除某行
df.drop(1, axis=0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

### 3、按axis=0/index执行mean聚合操作

反直觉：输出的不是每行的结果，而是每列的结果

In [42]:
df

    A   B   C   D  sum_value   3
0   0   5  10  15         30 NaN
1  20  25  30  35        110 NaN
2  40  45  50  55        190 NaN
3   1   2   3   4          6 NaN

In [41]:
# axis=0 or axis=index
df.mean(axis=0)

A            15.25
B            19.25
C            23.25
D            27.25
sum_value    84.00
3              NaN
dtype: float64

<img src="./other_files/pandas-axis-index.png" width="300" />

***指定了按哪个axis，就是这个axis要动起来(类似被for遍历)，其它的axis保持不动***

### 4、按axis=1/columns执行mean聚合操作

反直觉：输出的不是每行的结果，而是每列的结果

In [38]:
df

    A   B   C   D  sum_value   3
0   0   5  10  15         30 NaN
1  20  25  30  35        110 NaN
2  40  45  50  55        190 NaN
3   1   2   3   4          6 NaN

In [39]:
# axis=1 or axis=columns
df.mean(axis=1)

0    12.0
1    44.0
2    76.0
3     3.2
dtype: float64

<img src="./other_files/pandas-axis-columns.png" width="700" />

***指定了按哪个axis，就是这个axis要动起来(类似被for遍历)，其它的axis保持不动***

### 5、再次举例，加深理解

In [40]:
def get_sum_value(x):
    return x[0] + x[1] + x[2] 

df.loc[3] = [1,2,3,4,6,9]
df[3] = df.apply(get_sum_value, axis=0)

In [37]:
df

    A   B   C   D  sum_value   3
0   0   5  10  15         30 NaN
1  20  25  30  35        110 NaN
2  40  45  50  55        190 NaN
3   1   2   3   4          6 NaN

***指定了按哪个axis，就是这个axis要动起来(类似被for遍历)，其它的axis保持不动***